@font-face {
    font-family: 'njnaruto';
    src: url('narutoFont/fonts/njnaruto.eot');
    src: url('narutoFont/fonts/njnaruto.eot') format('embedded-opentype'),
         url('narutoFont/fonts/njnaruto.woff2') format('woff2'),
         url('narutoFont/fonts/njnaruto.woff') format('woff'),
         url('narutoFont/fonts/njnaruto.ttf') format('truetype'),
         url('narutoFont/fonts/njnaruto.svg#njnaruto') format('svg');
}

.main {
    background-color: rebeccapurple;
    width: 640px;
    height: 640px;
    display: block;
    margin: auto;
}

.img-first-display {
    width: 640px;
    display: block;
    margin: auto;
}

.start-button {
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    background-color: rebeccapurple;
    padding: 15px;
    width: 130px;
}

.text-button {
    text-decoration: none;
    font-family: 'njnaruto';
    font-size: 40px;
    color: yellow;
}

.start-button:hover {
    -ms-transform: scale(0.5); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.75); 
}

.welcome-text {
    text-align: center;
    font-family: 'njnaruto';
    font-size: 25px;
    color: bisque;
    margin-top: 70px;
}