canvas#game{
    margin-left: -160px;
}

.layermin2{
    position: absolute;
    top: 0;
    z-index: -2;
}

.layermin1{
    position: absolute;
    top: 0;
    z-index: -1;
}

.layer0{
    position: absolute;
    top: 0;
    z-index: 0;
}

.layer1{
    position: absolute;
    top: 0;
    z-index: 1;
}

.layer2{
    position: absolute;
    top: 0;
    z-index: 2;
}

.layout{
    display: flex;
    justify-content: center;
}

.side-bar{
    width: 800px;
    height: 640px;
    background-color: darkslategray;
}

.naruto-side{
    background-image: url('../img/narutoSide.gif');
    background-size: cover;
    border-radius: 100px;
    width: 124px;
    height: 124px;
    position: absolute;
    right: 18px;
    top: 18px;
}

.hp-bar{
    width: 130px;
    height: 130px;
    position: absolute;
    right: 10px;
    top: 10px;
    border: 6px;
    border-radius: 50px;
}